﻿@model IEnumerable<asp.net_hw3.Todo.Models.TodoTagsList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form class="form-inline md-form form-sm mt-0" method="post">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
           aria-label="Search" name="searchIndex">
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.Raw("Tag")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>

                @foreach (var tag in item.Tags)
                {
                    <ul class="list-group">
                        <li class="list-group">
                            @Html.DisplayFor(modelItem => tag)
                        </li>
                    </ul>
                }
            </td>
            <td>
                @Html.ActionLink("Add Tag", "AddTag", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@*@foreach (var item in Model)
    {
    <ul class="list-group">
        <li class="list-group"> @Html.DisplayFor(modelItem => item.Name)</li>
        <li class="list-group"> @Html.DisplayFor(modelItem => item.Description)</li>
        <li class="list-group">
            @foreach (var tag in item.Tags)
            {
                @Html.DisplayFor(modelItem => tag)
            }
        </li>
    </ul>
    }*@
